.bozzo, .decouverte, .music_styles, .playlists, .playlist {
  .container_description, .container_top_ecoute, .container_albums, .container_playlist_avec_artiste, .container_commentaires, .container_artist, .container_styles {
    margin-bottom: $box-pad*3;
  }
  .container_description {
    display: flex;
    flex-direction: row;

    .artist_description {
      display: flex;
      flex-direction: column;

      .artist_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .button_h1 {
          button {
            @include button-base;

            background: linear-gradient(to right, $flash_pink, $flash_red);
            display: block;
            margin-bottom: $box-pad / 2;

            &:hover {
              background: rgba($white, 0.1);
            }
          }

          h1 {
            font-size: $box-pad;
            margin-bottom: $box-pad / 2;
          }
        }

        .artist_share {
          display: flex;
          flex-direction: row;
          margin-bottom: $box-pad / 2;
          align-items: flex-end;

          .icons {
            margin: 0 5px;
          }
        }
      }

      p {
        text-align: left;
        font-size: $box-pad / 2;
        line-height: 23px;
      }
    }
  }

  .container_top_ecoute, .container_playlist_avec_artiste {
    table {
      width: 100%;

      thead > tr > th, tbody > tr > td {
        padding: $box-pad / 3.5;
        text-align: left;
      }

      thead {
        tr {
          border-bottom: 1px solid $color_text_secondary;
          th {
            text-transform: uppercase;
            color: $color_text_secondary;
            font-size: $box-pad / 2.5;
          }
        }
      }

      tbody {
        tr {
          padding: 5px;
          &:hover {
            background: rgba(0, 0, 0, 0.3);
          }

          &:nth-child(odd) {
            background: #252525;
          }

          td {
            font-size: ($box-pad / 2) !important;
            padding: 0.4rem;
            vertical-align: middle;

            &:first-child, &:nth-child(2) {
              width: 35px;
            }

            //&:first-child
            // padding: 0
            // margin: 5px
            .icons {
              @include size(22px);
            }
          }
        }
      }
    }
  }

  .container_albums {
    .container_items_album {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .item_album {
        width: 180px;
        margin: 0 $box-pad/2 $box-pad*2 0;
        .big_cover {
          margin-bottom: $box-pad/2;
        }
        .text_album {
          .border-bottom {
            margin-top: $box-pad/2;
          }
        }
      }
    }
  }

  .container_artist {
    .container_items_artistes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .item_artiste {
        width: 180px;
        margin: 0 $box-pad/2 $box-pad*2 0;
        .big_cover {
          margin-bottom: $box-pad/2;
          border-radius: $box-pad/1.5;
        }
        .text_album {
          .border-bottom {
            margin-top: $box-pad/2;
          }
        }
      }
    }
  }
}
