.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //height: 100vh;

  .big_cover {
    @include size($box-pad * 6);

    background-color: $purple;
    margin: 0 ($box-pad / 2) ($box-pad / 2) 0;
  }

  /*.icons {
    width: 30px;
    height: 30px;
    background-color: $purple;
  }*/

  section {
    width: 100%;

	article {
	  padding: $box-pad*3 0px $box-pad 0px;
	}

    h1 {
      font-size: $box-pad;
      margin: $box-pad 0;
	  text-transform: uppercase;
    }

	h2 {
	  font-size: 25px;
	  margin: 15px 0;
	}

    .border-bottom {
      border: 0;
      margin-bottom: $box-pad / 2;
      height: 1px;
      background: linear-gradient(to right, $color_gradiant_orange, $color_gradiant_pink, $color_gradiant_purple);

      //background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)))
      //background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%)
      //background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%)
      //background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%)
      //background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%)
      //background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%)

    }

	table {
	  width: 100%;

	  thead > tr > th, tbody > tr > td {
		padding: $box-pad / 3.5;
		text-align: left;
	  }

	  thead {
		tr {
		  border-bottom: 1px solid $color_text_secondary;
		  th {
			text-transform: uppercase;
			color: $color_text_secondary;
			font-size: $box-pad / 2.5;
		  }
		}
	  }

	  tbody {
		tr {
		  padding: 5px;
		  &:hover {
			background: rgba(0, 0, 0, 0.3);
		  }

		  &:nth-child(odd) {
			background: #252525;
			&:hover {
			  background: rgba(0, 0, 0, 0.3);
			}
		  }

		  td {
			font-size: ($box-pad / 2) !important;
			padding: 0.4rem;
			vertical-align: middle;

			//&:first-child
			// padding: 0
			// margin: 5px
			.icons {
			  @include size(22px);
			}
			.dropdown {
			  float: left;
			  overflow: hidden;
			  .dropbtn {
				font-size: 16px;
				border: none;
				outline: none;
				color: white;
				padding: 14px 16px;
				background-color: inherit;
				font-family: inherit;
				margin: 0;
				border-radius: 5px;
			  }
			  .dropdown-content {
				display: none;
				position: absolute;
				background-color: #252525;
				@include shadow-ingrid-3;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
				a {
				  float: none;
				  color: $white;
				  padding: 12px 16px;
				  text-decoration: none;
				  display: block;
				  text-align: left;
				  &:first-child, &:nth-child(2), &:nth-child(3) {
					border-bottom: 1px solid $black;
				  }
				  &:hover {
					background: rgba(255, 255, 255, 0.1);
				  }
				}
			  }
			}

			.dropdown:hover .dropdown-content {
			  display: block;
			}
		  }
		}
	  }
	}

	.container_styles_buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.styles_buttons {
		  width: 25%;
		  text-align: center;
		  margin: $box-pad/2 0;
		  button {
			@include button-base;
			width: $box-pad * 6;
			height: $box-pad * 2;
			font-size: 20px;
		  }
		  .button_folk, .button_dance, .button_electro, .button_metal, .button_rock, .button_pop, .button_reggae, .button_rnb, .button_rap, .button_internat, .button_variete, .button_classique, .button_jazz, .button_soul, .button_blues, .button_autres {
			&:hover {
			  //-webkit-mask-image: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%)
			  background: rgba($white, 0.1);
			}
		  }
		  .button_folk {
			background: linear-gradient(to right, #53af32, #007bc4);
		  }
		  .button_dance {
			background: linear-gradient(to right, #007bc4, #362784);
		  }

		  .button_electro {
			background: linear-gradient(to right, #0051a0, #651e82);
		  }

		  .button_metal {
			background: linear-gradient(to right, #502988, #b6107f);
		  }

		  .button_rock {
			background: linear-gradient(to right, #841c83, #e6007d);
		  }

		  .button_pop {
			background: linear-gradient(to right, #b6107f, #e60060);
		  }

		  .button_reggae {
			background: linear-gradient(to right, #e6007d, #e4003b);
		  }

		  .button_rnb {
			background: linear-gradient(to right, #e60060, #e41d13);
		  }

		  .button_rap {
			background: linear-gradient(to right, #e4003b, #ee7402);
		  }

		  .button_internat {
			background: linear-gradient(to right, #ee7402, #fbbb00);
		  }

		  .button_variete {
			background: linear-gradient(to right, #fbbb00, #ffec00);
		  }

		  .button_classique {
			background: linear-gradient(to right, #ffec00, #b0ce00);
		  }

		  .button_jazz {
			background: linear-gradient(to right, #b0ce00, #53af32);
		  }

		  .button_soul {
			background: linear-gradient(to right, #53af32, #006a06);
		  }

		  .button_blues {
			background: linear-gradient(to right, #006a06, #004bc4);
		  }

		  .button_autres {
			width: auto;
			background: linear-gradient(to right, $flash_pink, $flash_red);
		  }
		}
	}
  }
}

#corp_section {
  width: 100%;
  border-right: 1px solid $line;
  border-left: 1px solid $line;
  padding: $box-pad $box-pad $box-pad*4 $box-pad;
  #home_pages {
	height: 100vh;
  }
}