@import "framework/sass/variables.scss";
@import "framework/sass/mixins.scss";

@import "framework/sass/left_panel.scss";
@import "framework/sass/right_panel.scss";
@import "framework/sass/container_player.scss";

.icons {
    width: 30px;
    height: 30px;
    background-color: #955ba5;
}

// CLASS GLOBAL

body {
    background-color: $color_fond;
    color: $color_text_primary;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: "Myriad Pro Regular", "Trebuchet MS";
}

html {
}

ul {
    list-style-type: none;
    padding: 0;
}

// HOME

nav {
    width: 250px !important;
}

section {
    width: 73.7%;
}