$h: 43px;
$unit-h: 35px;

// BABIBU

$box-pad: 30px;
$small-box-pad: 20px;

$break-sm: 567px;
$break-md: 850px;
$break-lg: 1300px;

$font-size-small: 11px;
$font-size-ico: 15px;
$imgpath: "../img/";
$base-font-size: 13px;

// theme colors ----------------------------

$black: #000;
$white: #FFF;
$turquoise: #36b1ac;
$sapin: #006F74;
$green_light: #60B667;
$green: #00A479;
$gray_header: #808080;
$gray_footer: #3c3c3b;
$gray-light: #e0e0e0;
$gray-light-3: #f1f1f1;
$gray-light-2: #efefef;

$c01: #32313d;
$c02: #5c68ff;
$c03: #ff3c00;
$c04: #00d747;
$c05: #ffde00;

// LANDING
$color_gradiant_orange: #F39865;
$color_gradiant_pink: #CC83AE;
$color_gradiant_purple: #7F74B4;

// VARIABLES
$color_fond: #1a1a1a;
$color_text_primary: #FFFFFF;
$color_text_secondary: #666666;
$color_text_ters: #b3b3b3;

$line: #4d4d4d;

$black: #000000;
$white: #FFFFFF;

//BUTTONS
$flash_pink: #e6007d;
$flash_red: #e4003b;

$box-pad: 30px;

// TEST BACKGROUND

$purple: #955ba5;
