.left_panel {
  font-size: 20px;
  border-right: 1px solid #4d4d4d;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.left_panel ul {
  height: 96.9270833333%;
}
.left_panel ul li {
  border-bottom: 1px solid #000;
  color: #666;
  display: block;
  padding: 15px;
}
.left_panel ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.left_panel ul li ul li {
  color: #fff;
  font-size: 15px;
  border-bottom: 0;
}
.right_panel {
  border-left: 1px solid #4d4d4d;
  height: 100%;
  position: absolute;
  right: 0;
}
.right_panel ul li {
  padding: 15px;
}
.container_player {
  height: 60px;
  border-top: 1px solid #4d4d4d;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container_player .cover_info {
  width: 250px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #4d4d4d;
}
.container_player .cover_info .cover {
  width: 60px;
  height: 60px;
  background-color: #fff;
}
.container_player .cover_info .info_cover {
  font-size: 13px;
  height: 45px;
  background-color: #1a1a1a;
  flex-direction: row;
  display: flex;
}
.container_player .cover_info .info_cover .title_artist_name {
  width: 125px;
  height: 40px;
  margin: 10px;
}
.container_player .cover_info .info_cover .title_artist_name > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container_player .cover_info .info_cover .title_artist_name > div:first-child {
  margin-bottom: 5px;
}
.container_player .cover_info .info_cover .icon_comm {
  margin: 14px 14px 14px 0;
}
.container_player .player {
  width: 74%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container_player .player .followers {
  display: flex;
  flex-direction: row;
}
.container_player .player .followers .icon_like, .container_player .player .followers .icon_dislike, .container_player .player .followers .icon_add {
  margin: 14px 0 14px 14px;
}
.container_player .player .play {
  display: flex;
  flex-direction: row;
}
.container_player .player .play .icon_last, .container_player .player .play .icon_play, .container_player .player .play .icon_next {
  margin: 14px 0 14px 14px;
}
.container_player .player .play .icon_last button {
  width: 32px;
  height: 25px;
}
.container_player .player .play .icon_play button {
  width: 32px;
  height: 25px;
}
.container_player .player .play .icon_next button {
  width: 32px;
  height: 25px;
}
.container_player .player .order {
  display: flex;
  flex-direction: row;
}
.container_player .player .order .icon_random, .container_player .player .order .icon_loop {
  margin: 14px 0 14px 14px;
}
.container_player .player .order .time {
  margin: 15px;
  line-height: 30px;
}
.container_player .current_listening {
  width: 220px;
  margin: 15px;
  line-height: 30px;
}
.icons {
  width: 30px;
  height: 30px;
  background-color: #955ba5;
}
body {
  background-color: #1a1a1a;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: "Myriad Pro Regular", "Trebuchet MS";
}
ul {
  list-style-type: none;
  padding: 0;
}
nav {
  width: 250px !important;
}
section {
  width: 73.7%;
}
